@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Masha Kazachenok<br/>
    <br/>
    <abbr title="Phone">P:</abbr>
    +375297412852 <br/>
    +375296357415
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">kazachenokm@mail.ru</a><br />
</address>