@model List<Models.Client>

@{
    ViewBag.Title = "Clients";
}

<div class="jumbotron">
    <h1>Clients</h1> 
    <p><a href="/Clients/Create">Create</a></p>       
</div>

<div>   
    @foreach (var item in Model)
    {
        <p>
            @item.FirstName @item.LastName <a href="/Clients/Edit/@item.Id">Edit</a>
    </p>        
    }
</div>