@model List<Models.Client>


@{
    ViewBag.Title = "Clients";
}

<div class="jumbotron">
    <h1>Clients</h1>
    <p><a href="/Clients/Create">Create</a></p>
</div>
<div>
    <form action="/Clients" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
</div>

<div>
    @foreach (var item in Model)
    { 
        <p>
            @item.FirstName @item.LastName |
            <a href="/Clients/Edit/@item.Id">Edit</a>
            <a href="/Clients/Delete/@item.Id">Delete</a> |

            <a href="/Clients/Details/@item.Id">View details</a>
            <a href="/Visits/Create?ClientId=@item.Id">Add visit</a>
        </p>
    }
</div>